.cred-experience{
    background-color: rgb(26,97,233);
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg); 
}
.experience{
    max-width: none;
}
@media screen and (max-width:1279px){
    .cred-experience{
        background-position: center bottom;
    }
}

@media screen and (max-width:767px){
    .cred-experience{
        background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg-mobile.jpg); 
        background-position: right center;
        min-height: 1150px;
        
    }
}